{% extends 'base.html.twig' %}


{% block body %}



    {% if AllAdvert is defined %}
        {% for it in AllAdvert %}

            <div>
                <div>
                    <a href="{{ path('AdvertByName', {nameUser: it.getUser().getPseudo(), name: it.getName()}) }}">{{ it.getName() }}</a>
                    <div>
                        <a href="">By {{ it.getUser().getPseudo() }}<br></a><br>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            Description : {{ it.getDescription() }} <br>
                            Category : {{ it.getCategory().getName() }} <br>
                            Price : {{ it.getPrice() }} <br>
                            Creation date : {{ it.getCreatedAt().format('Y-m-d H:i:s') }} <br>

                        </div>
                    </div>
                    <div>
                        <div>
                            <figure>
                                {% for image in it.getImages() %}
                                    <img height="160px" width="160xp" src="{{ asset(image.getImagePath()) }}" alt="">
                                {% endfor %}
                            </figure>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>

            {% if change is defined %}
                {% if change == true %}
                    <a href="{{ path('updateAdvert', {name: it.getName()}) }}">Modify</a><br>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}
