{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    {% if AllAdvert is defined %}
        {% for it in AllAdvert %}
            <div class="body_form">
                    <fieldset>
                            <legend>{{ it.getName() }}</legend>
                        <br />
                            <label>Description</label>
                            <p>{{ it.getDescription() }}</p>
                        <br>
                            <label>Category</label>
                            <p>{{ it.getCategory().getName() }}</p>

                        <br />

                            <label>Price</label>
                            <p> {{ it.getPrice() }} </p>

                        {% if app.user is defined %}
                            {% if app.user.id == it.user.id %}
                                <a href="">Modify</a><br>
                            {% endif %}
                        {% endif %}

                    </fieldset>
            </div>
        {% endfor %}
    {% endif %}


{% endblock %}