{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    {% if AllAdvert is defined %}
        {% for it in AllAdvert %}
            <div class="body_form">
                    <form>
                        <fieldset>
                            <legend>
                                <a href="{{ path('AdvertByName', {nameUser: it.getUser().getPseudo(), name: it.getName()}) }}">{{ it.getName() }}</a>
                            </legend>

                        <h1>By  {{ it.getUser().getPseudo() }}</h1>

                        </fieldset>

                        <fieldset>
                            <label>Description</label>
                            <p>{{ it.getDescription() }} <br></p>

                            <label>Category</label>
                            <p>{{ it.getCategory().getName() }} <br></p>

                            <label>Price</label>
                            <p>{{ it.getPrice() }} <br></p>

                            <label>City</label>
                            <p>{{ it.getCity() }} <br></p>

                            <label>Adress</label>
                            <p>{{ it.getAdress() }} <br></p>

                            <label>Postal Code</label>
                            <p>{{ it.getPostalcode() }} <br></p>

                            <label>Creation date</label>
                            <p>{{ it.getCreatedAt().format('Y-m-d H:i:s') }} <br></p>

                            {% for image in it.getImages() %}
                                <img height="160px" width="160xp" src="{{ asset(image.getImagePath()) }}" alt="">
                            {% endfor %}

                            {% if app.user is defined %}
                                {% if app.user.id == it.user.id %}
                                    <a href="{{ path('updateAdvert', {name: it.getName()}) }}">Modify</a><br>
                                {% endif %}
                            {% endif %}

                        </fieldset>
                    </form>
                </div>

        {% endfor %}
    {% endif %}

    <br />
    <br />

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}