{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    {% if form is defined %}
        {{ form_start(form) }}


        <div class="body_form">
            <fieldset>
            <legend>Update Advert</legend>
                <form>
                    <label>Name</label>
                    <p>{{ form_row(form.name) }}</p>

                    <label>Description</label>
                    <p>{{ form_row(form.description) }}</p>

                    <label>Price</label>
                    <p>{{ form_row(form.price) }}</p>

                    <label>City</label>
                    <p>{{ form_row(form.city) }}</p>

                    <label>Adress</label>
                    <p>{{ form_row(form.adress) }}</p>

                    <label>Postal Code</label>
                    <p>{{ form_row(form.postalcode) }}</p>

                    <label>Category</label>
                    <p>{{ form_row(form.category) }}</p>
                    <br />
                    <br />
                    {{ form_row(form._token) }}

                    <button type="submit">Update</button>
                </form>
            </fieldset>
        </div>

        {{ form_end(form) }}
    {% endif %}

{% endblock %}