{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    {% if form is defined %}
        {{ form_start(form) }}


        <div class="body_form">
            <fieldset>
                <legend>Update Advert</legend>
                    <form>
                        {{ form_row(form.name, {
                            'label': 'Name: '}) }}

                        {{ form_row(form.description, {
                            'label': 'Descripion: ' }) }}

                        {{ form_row(form.price, {
                            'label': 'Price: '}) }}

                        {{ form_row(form.city, {
                            'label': 'City: '}) }}

                        {{ form_row(form.adress, {
                            'label': 'Adress: '}) }}

                        {{ form_row(form.postalcode, {
                            'label': 'Postal Code: '}) }}

                        {{ form_row(form.category, {
                            'label': 'Category: ' }) }}
                        <br />
                        <br />
                        {{ form_row(form._token) }}


                        <button type="submit">Update</button>

                    </form>
            </fieldset>
        </div>

        {{ form_end(form) }}
    {% endif %}

{% endblock %}